In [1]:
path_wiki_parquet = 'wikipedia.parquet'

In [4]:
import os
os.environ["MODIN_ENGINE"] = "ray"  # Modin will use Ray

import modin.pandas as pd

In [ ]:
df = pd.read_parquet(path_wiki_parquet)

In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet('wikipedia.parquet/00050af530594f82861d18a3d58c4318.parquet')

In [5]:
df

,title,article
56088419,Chinatown Station,#REDIRECT [[Chinatown station]]\n\n{{R from mo...
56088421,Member of the Order of the Volta,#REDIRECT [[Order of the Volta]]
56088424,City Square (MBTA station),#REDIRECT [[City Square station]]\n\n{{R from ...
56088426,Sherlock Holmes of Baker Street,{{Infobox book | <!-- See Wikipedia:WikiProjec...
56088427,"Jyushin ""Thunder"" Liger",#REDIRECT [[Jushin Liger]]
...,...,...
56091279,Template:Taxonomy/Clytomyias,{{Don't edit this line {{{machine code|}}}\n|r...
56091282,Category:Andorra–Ireland relations,{{Foo–Bar relations category}}
56091286,Category:Algeria–Ireland relations,{{Commons category|Relations of Algeria and Ir...
56091287,Draft:Essential Biodiversity Variables,#REDIRECT [[Essential Biodiversity Variables]]...
56091288,Coatzacoalcos (municipality),#REDIRECT [[Coatzacoalcos Municipality]]\n\n{{...